<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center"></h2>

<div class="card">
  <img src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-9/34181390_2437693506244602_1327313321606512640_n.jpg?_nc_cat=0&oh=5d0f03e3bb0e28717a0dc7d4aac3cf3c&oe=5B7F3929" style="width:200px; height: 200px;">
  <h1>Andrej Katin</h1>
  <p class="title">Inženjerstvo informacionih sistema</p>
  <p>Fakultet tehničkih nauka</p>
  <div style="margin: 40px 0;">
    <a href="https://www.instagram.com/katinandrej/"><i class="fa fa-instagram"></i></a>  
    <a href="https://www.linkedin.com/in/andrej-katin-20663912b/"><i class="fa fa-linkedin"></i></a>  
    <a href="https://www.facebook.com/andrej.katin"><i class="fa fa-facebook"></i></a> 
 </div>
 <div style="margin-left: 40px;">
  <a href="mailto:katin.andrej96@gmail.com"><i class="fa fa-phone" font-size="25px"> Kontaktiraj me</i></a> <br>
 </div>
</div>

</body>
</html>

